# Default ignored files
/shelf/
/artifacts
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
/jpa-buddy.xml
/jarRepositories.xml
/compiler.xml
